[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
python-dotenv = "*"
jupyter = "*"
scikit-learn = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
chromadb = "*"
tiktoken = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.11"
